albumentations==1.1.0
matplotlib==3.5.2
neptune==1.6.3
numpy==1.23.4
pandas==1.4.2
Pillow==8.4.0
plotly==5.9.0
scikit_image==0.19.3
scikit_learn==1.0.2
segmentation-models-pytorch @ git+https://github.com/qubvel/segmentation_models.pytorch@740dab561ccf54a9ae4bb5bda3b8b18df3790025
tifffile==2023.1.23.1
torch==1.12.1
torchvision==0.13.1
tqdm==4.64.0
